[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url="*"

[requires]

python_version = "3.6"
